<include file="Public/header"/>
<body class="J_scroll_fixed">
<div class="wrap jj">
	<ul class="nav nav-tabs">
     <?php if(is_role('user','index')) { ?><li><a href="{:U('user/index')}">管理员</a></li><?php } ?>
     <?php if(is_role('user','add')) { ?><li><a href="{:U('user/add')}">添加管理员</a></li><?php } ?>
  </ul>
  <div class="common-form">
    <form method="post" class="form-horizontal J_ajaxForm" action="{:U('User/edit_post')}">
      <div class="table_list">
        <table cellpadding="2" cellspacing="2" width="100%">
          <tbody>
            <tr>
              <td width="180">用户名:</td>
              <td><input type="text" class="input" name="user_login" value="{$user_login}"><span class="must_red">*</span></td>
            </tr>
            <tr>
              <td>密码:</td>
              <td><input type="password" class="input" name="user_pass" value="" placeholder="******"><span class="must_red">*</span></td>
            </tr>
            <tr>
              <td>邮箱:</td>
              <td><input type="text" class="input" name="user_email" value="{$user_email}"><span class="must_red">*</span>                </td>
            </tr>
           <tr>
              <td>机构设置:</td>
              <td>
                <input type="text" id="org_name_text"  name="org_name_text" class="xd" onclick="org_list(this);" value="{$name}" >*</td>
              <input type="hidden" name="org_id" id="org_id" value="{$org_id}}"> 
              </td>
            </tr>
            <tr>
            <tr>
              <td>角色:</td>
              <td>
 				<select name="role_id" class="normal_select">
 					<foreach name="roles" item="vo">
 					<php>$role_id_selected=$vo['id']==$role_id?"selected":"";</php>
 						<option value="{$vo.id}" {$role_id_selected}>{$vo.name}</option>
 					</foreach>
                </select>
				</td>
            </tr>
          </tbody>
        </table>
      </div>
       <div class="form-actions">
       		<input type="hidden" name="id" value="{$id}"/>
            <button type="submit" class="btn btn-primary btn_submit J_ajax_submit_btn">更新</button>
            <!--<a class="btn" href="__URL__">返回</a>-->
      </div>
    </form>
  </div>
</div>
<load href="__PUBLICS__/js/common.js"/>
<script type="text/javascript">
  function org_list($this) {
    art.dialog({
      id:'div_org_list',
      lock : true,
      ok:true,
      cancel : true,
      title : '选择机构',
      background : '#cccccc',
      opacity : 0.80,
      width : 650,
      height : 500
    });
    $.get('__MODULE__/Train/id_list', {}, function(e) {
      art.dialog({id: 'div_org_list'}).content(e);
    }, 'html');
  }
</script>
</body>
</html>