<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
        <title>博宠商城</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta content="telephone=no" name="format-detection"/>
        <script type="text/javascript">var GV = {DIMAUB: "__ROOT__/", MODULE_URL: "__MODULE__/"};</script>
    <load href="__PUBLICS__/plug/swiper/css/swiper.min.css"/>
    <load href="__PUBLICS__/plug/bootstrap/css/bootstrap.min.css"/>
    <load href="__PUBLICS__/plug/upload/style.css"/>
    <load href="__PUBLICS__/plug/artDialog/css/ui-dialog.css" />
    <load href="__PUBLICS__/css/b2b2c.css"/>
    <load href="__PUBLICS__/js/jquery.js"/>
    <load href="__PUBLICS__/plug/swiper/js/swiper.min.js"/>
    <load href="__PUBLICS__/plug/artDialog/dist/dialog.js" />
    <load href="__PUBLICS__/plug/bootstrap/js/bootstrap.min.js"/>
    <load href="__PUBLICS__/js/b2b2cc.js"/>
    <load href="__PUBLICS__/js/b2b2cf.js"/>
    <load href="__PUBLICS__/js/b2b2cj.js" />
    <load href="__PUBLICS__/js/b2b2c.js"/>
    <load href="__PUBLICS__/plug/effect/js/jquery.ui.widget.js" />
    <load href="__PUBLICS__/plug/effect/js/jquery.iframe-transport.js" />
    <load href="__PUBLICS__/plug/effect/js/jquery.fileupload.js" />

    <load href="__PUBLICS__/plug/bootstrap/js/bootstrap-datetimepicker.js" />
    <include file="Application/Common/View/Public/header.html"/>

<!-- 百度站长自动推送工具代码 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</head>
<body>

