<include file="Public/header"/>
<div id="b2b2c_payment_succeed_index">
    <div class="b2b2c_payment_succeed">
        <div class="b2b2c_public_state_box bgcg">
            <p>您已付款成功</p>
        </div>
        <div class="b2b2c_payment_succeed_content">
            <div class="content_t bgcf tc">
                <span>收货地址：</span>
                <span>{$info.address_str}</span>
            </div>
            <div class="content_c bgcf tc">
                <span>实付款：</span>
                <span class="price">¥{$info.order_amount}</span>
            </div>
            <div class="content_btm tc">
                <a href="{:U('User/order_manage')}">查看已买到的商品</a>
                <if condition="$info['order_count'] eq 1">
                    <a href="{:U('User/orderdetailbuyers', array('order_id'=>$info['sub_order_id'], 'r'=>$r))}">查看订单详情</a>
                </if>
            </div>
        </div>
    </div>
</div>
</body>
<include file="Public/footer"/>