<include file="Public/header" />
        <div id="b2b2c_payment_failed_index">
                        <div class="b2b2c_payment_failed">
                            <div class="b2b2c_public_state_box bgco">
                                <p>本次付款失败</p>
                            </div>
                            <div class="b2b2c_payment_failed_content">
                                <div class="content_btm tc">
                                    <a href="{:U('User/order_manage')}">查看已买到的商品</a>
                                </div>
                            </div>
                        </div>
        </div>
    </body>
<include file="Public/footer" />