<include file="Public/header"/>

<div class="b2b2c_layout">
    <!--头部start-->
    <header class="b2b2c_public_header_two b2b2c_public_header_revamp">
        <span>购物车</span>
        <span>(<i class="b2b2c_cart_shop_num">{$count}</i>)</span>
		<input readonly="" value="完成" type="button" onclick="b2b2cc.refresh('User/get_cart_list', '', true);">
    </header>
    <!--头部end-->

    <!--主内容区域start-->
    <main class="b2b2c_index_cart b2b2c_index_cart_delm b2b2c_index_cart_pop">
        <!--店铺二的商品start-->

			<volist  name="list" id="vo">
			<section class="b2b2c_index_cart_box">
			<div class="b2b2c_shop_name bgcf b2b2c_p16 clearfix">
                <a class="toe fl" href="javascrtip:">{$vo.shop_name}</a>
            </div>
				<volist  name="vo.list" id="volist">
				<!--商品一start-->
				<div class="b2b2c_index_cart_inner bgcf">
					<div class="b2b2c_product_mid b2b2c_product_mid_m clearfix">
						<a href="#" class="fl"><img src="{$volist['product_image'][0]}" alt=""></a>
						<!--点击编辑后出现的内容statr-->
						<div class="b2b2c_box1 fl">
							<div class="b2b2c_cart_edit_spnum clearfix">
								<a class="minus fl" onclick="b2b2cf.cart_product_count_edit({$volist.product_id}, parseFloat($('#b2b2c_count_{$volist.product_id}').val())-1);"></a>
								<input type="text" value="{$volist.count}" id="b2b2c_count_{$volist.product_id}" class="fl"  autocomplete="off" onBlur="b2b2cf.cart_product_count_edit({$volist.product_id}, $('#b2b2c_count_{$volist.product_id}').val());">
								<a class="plus fl tl" onclick="b2b2cf.cart_product_count_edit({$volist.product_id}, parseFloat($('#b2b2c_count_{$volist.product_id}').val())+1);"></a>
							</div>
							<div class="b2b2c_size toe clearfix" onclick="b2b2cc.refresh('Index/product', 'goods_id:{$volist.goods_id},product_id:{$volist.product_id},rfs:b2b2cf.get_cart_list_edit_product();', true);">
								
								<i>规格:</i>
								<i>{$volist.product_name}</i>
							</div>
							<div class="b2b2c_cart_slid_sizebtn"></div>
						</div>
						<!--点击编辑后出现的内容end-->
					</div>
					 <!--删除按钮statr-->
					<div class="b2b2c_cart_delbtn_shop" onclick="b2b2cf.cart_product_delete({$volist.product_id}); ">
						<span>删除</span>
					</div>
					<!--删除按钮end-->
				</div>
				<!--商品一end-->
				</volist>
				 </section>
			</volist>
        <!--店铺二的商品end-->
    </main>
    <!--主内容区域end-->
</div>

<include file="Public/footer"/>