<include file="Public/header"/>

<div class="b2b2c_layout">
    <!--头部start-->
    <header class="b2b2c_public_header">我的博宠</header>
    <!--头部end-->
  <!--主内容区域start-->
    <main class="b2b2c_user_box">
        <!--头像等资料start-->
        <section class="b2b2c_user_box_top bgcf">
            <div class="b2b2c_user_data">
                <img src="{$user_info.portrait_url}" alt="">
                <p class="toe">
                    <notempty name="user_info.nickname">
                        {$user_info.nickname}
                    <else />
                        {$user_info.telno}
                    </notempty>                    
                </p>
            </div>
            <div class="b2b2c_user_data_settings">
                <a href="{:U('user/index')}">账户管理、个人资料</a>
            </div>
        </section>
        <!--头像等资料end-->

        <section class="b2b2c_go_collect_box bgcf">
            <a href="{:U('user/collect')}" class="clearfix">
                <span>收藏夹</span>
                <span>查看收藏</span>
            </a>
        </section>

        <section class="b2b2c_go_order_box bgcf">
            <a href="{:U('user/order_manage')}" class="clearfix">
                <span>订单管理</span>
                <span>查看订单</span>
            </a>
        </section>

        <section class="b2b2c_go_address_box bgcf">
            <a href="{:U('user/address')}" class="clearfix">
                <span>收货地址管理</span>
                <span>查看/修改地址</span>
            </a>
        </section>
    </main>
    <!--主内容区域end-->

    <!--悬浮底部start-->
    <footer class="b2b2c_index_footer">
        <div class="b2b2c_index_footer_box">
            <ul>
                <li>
                    <!--谁是当前页给谁的a加上active这个类名，即可变换图标和文字的颜色-->
                    <a href="{:U('Index/index')}">
                        <div class="b2b2c_index_icon"></div>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="{:U('User/get_cart_list')}">
                        <div class="b2b2c_cart_icon"></div>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="active">
                        <div class="b2b2c_user_icon"></div>
                        <p>我的博宠</p>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>