<include file="Public/header"/>

<load href="__PUBLICS__/plug/dropload/css/dropload.css"/>
<load href="__PUBLICS__/plug/dropload/js/dropload.js"/>

<div class="b2b2c_layout">
    <!--头部start-->
    <header class="b2b2c_public_header_two">订单管理</header>
        <a href="{:U('User/home')}" class="b2b2c_public_back"></a>
    <!--头部end-->

    <!--导航start-->
    <nav class="b2b2c_mage_order">
        <ul class="b2b2c_p16">
            <li class="active" data-status="0" onclick="b2b2cf.order_manage_switch_order_status(this)">全部</li>
            <li data-status="1" onclick="b2b2cf.order_manage_switch_order_status(this)">待付款</li>
            <li data-status="2" onclick="b2b2cf.order_manage_switch_order_status(this)">待发货</li>
            <li data-status="3" onclick="b2b2cf.order_manage_switch_order_status(this)">待收货</li>
            <li data-status="4" onclick="b2b2cf.order_manage_switch_order_status(this)">待评价</li>
            <li data-status="5" onclick="b2b2cf.order_manage_switch_order_status(this)">已关闭</li>
        </ul>
    </nav>
    <!--导航end-->

    <!--主内容区域start-->
    <div class="dropload_content">
        <main class="b2b2c_mage_order_con">
            <!--订单一start-->
            <?php $order_id_index = 0;?>
            <foreach name="list" item="vo">
                <?php $sum = 0;?>
                <?php $order_id_index++;?>
                <section class="b2b2c_mage_order_inner" data-index="{$order_id_index}">
                    <div class="b2b2c_order_inner_t bgcf b2b2c_p16 clearfix">
                        <span class="b2b2c_shop_name fl toe">{$vo.shop_name}</span>
                        <span class="b2b2c_shop_state fr tr">
                                        <?php if($vo['order_status'] == 1):?>
                                            待付款
                                        <?php elseif($vo['order_status'] == 2):?>
                                            交易关闭
                                        <?php elseif($vo['order_status'] == 3):?>
                                            退单申请中
                                        <?php elseif($vo['order_status'] == 4):?>
                                            交易关闭
                                        <?php elseif($vo['order_status'] == 6):?>
                                            待发货
                                        <?php elseif($vo['order_status'] == 7):?>
                                            交易关闭
                                        <?php elseif($vo['order_status'] == 8 || $vo['order_status'] == 9 || $vo['order_status'] == 10):?>
                                            交易成功
                                        <?php endif;?>
                        </span>
                    </div>
                    <?php $sum += $vo['order_shipping_fee']; ?>
                    <div class="b2b2c_order_inner_c">
                        <div class="b2b2c_product bgcf">
                            <ul>
                                <!-- 商品内容一start-->
                                <foreach name="vo.product_list" item="pvo">
                                    <li class="clearfix">
                                        <div class="b2b2c_div clearfix" onclick='window.location.href="{:U('User/orderdetailbuyers',array('order_id'=>$pvo['id']))}"'>
                                            <div class="b2b2c_imgbox fl">
                                                <a href="javascript:void(0);">
                                                    <img src="{$pvo.oi_image.0}" alt="">
                                                </a>
                                            </div>
                                            <div class="b2b2c_product_txt fl">
                                                <h3>{$pvo.oi_name}</h3>
                                                <p class="clearfix">
                                                <span class="fl">
                                                    <i>&yen</i>
                                                    <i>{$pvo.oi_price}</i>
                                                    <i>&times;</i>
                                                    <i>{$pvo.oi_count}</i>
                                                </span>
                                                <span class="fr">
                                                     <i>&yen</i>
                                                    <i>{$pvo.oi_sum}</i>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="b2b2c_succeed_after_box clearfix">
                                            <?php if($pvo['has_comment_button']):?>
                                                <a class="fr" href="{:U('User/buyermakeorderrated', array('order_id'=>$pvo['id'], 'product_id'=>$pvo['product_id']))}">评价</a>
                                            <?php endif;?>

                                            <?php if($pvo['has_aftersale_apply_button']):?>
                                                <a class="fr" href="javascript:void(0);" onclick="b2b2cf.order_manage_aftersale_apply()">申请售后</a>
                                            <?php endif;?>
                                        </div>                                                      
                                    </li>
                  
                                    <?php $sum += $pvo['oi_price']*$pvo['oi_count']; ?>
                                </foreach>

                                <!--商品内容一end-->
                            </ul>
                        </div>
                        <div class="b2b2c_payment_box bgcf b2b2c_p16 clearfix">
                            <div class="b2b2c_payment fr">
                                <span>实付:&yen</span>
                                <span class="b2b2c_price">{$sum}</span>
                                <span>(含运费<i>&yen</i><i>{$vo.order_shipping_fee}</i>)</span>
                            </div>
                        </div>
                    </div>
                    <div class="b2b2c_order_inner_b bgcf clearfix">

                        <?php if($vo['has_pay_button']):?>
                            <a href="{:U('Pay/applypay',array('sn'=>$vo['order_sn']))}" class="fr">立即付款</a>
                        <?php endif;?>

                        <?php if($vo['has_refund_apply_button']):?>
                            <a href="javascript:void(0)" class="fr" onclick="b2b2cf.apply_order_refund({$vo.id})">申请退单</a>
                        <?php endif;?>

                        <?php if($vo['has_logi_button']):?>
                            <a href="javascript:void(0)" class="fl" onclick="b2b2cf.get_order_logistics_detail({$vo.id})">物流信息</a>
                        <?php endif;?>

                        <?php if($vo['has_take_goods_button']):?>
                            <a href="javascript:void(0);" class="fr" onclick="b2b2cf.make_order_sure({$vo.id})">点击收货</a>
                        <?php endif;?>

                        <?php if($vo['order_status'] == 1):?>
                            <!-- 待付款 -->
                            
                        <?php elseif($vo['order_status'] == 2):?>
                            <!-- 交易关闭 -->
                        <?php elseif($vo['order_status'] == 3):?>
                            <!-- 退单申请中 -->
                        <?php elseif($vo['order_status'] == 4):?>
                            <!-- 交易关闭 -->
                        <?php elseif($vo['order_status'] == 6):?>
                            <!-- 待发货 -->
                            
                        <?php elseif($vo['order_status'] == 7):?>
                            <!-- 交易关闭 -->
                        <?php elseif($vo['order_status'] == 8 || $vo['order_status'] == 9 || $vo['order_status'] == 10):?>
                            <!-- 交易成功 -->
                            
                            <?php if($vo['order_status'] == 8):?>
                                
                            <?php endif;?>
                        <?php endif;?>
                    </div>
                </section>
            </foreach>

            <!--订单一end-->


        </main>
        <!--主内容区域end-->
    </div>

</div>
<script>
var dropload;
var switching_order_status = false;
$(function(){
    // dropload
    dropload = $('.dropload_content').dropload({
        scrollArea : window,
        domUp : {
            domClass   : 'dropload-up',
            domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
            domUpdate  : '<div class="dropload-update">↑释放更新</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
        },
        domDown : {
            domClass   : 'dropload-down',
            domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
            domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
        },
        loadUpFn : function(me){
            var get_data = {};
            get_data.terminal_type = 2;
            var last_order_index = 0;
            get_data.last_order_index = last_order_index;
            get_data.status = $('.b2b2c_mage_order li.active').eq(0).data('status');

            b2b2cc.curls('B2b2cPrivate/GetOrderList', get_data, function(data) {
                if(data.status){
                    var data = data.data.list;
                    var html = "";
                    if(data.length > 0){
                        html = b2b2cf.order_manage_make_list_html(data, last_order_index);
                    }

                    $('.b2b2c_mage_order_con').html(html);
                    me.resetload();
                    me.unlock();
                    me.noData(false);
                }

            }, 'get');
        },
        loadDownFn : function(me){
            var get_data = {};
            get_data.terminal_type = 2;

            var last_order_index = $('.b2b2c_mage_order_inner:last').data('index');
            get_data.last_order_index = last_order_index;
            get_data.status = $('.b2b2c_mage_order li.active').eq(0).data('status');

            b2b2cc.curls('B2b2cPrivate/GetOrderList', get_data, function(data) {
                if(data.status){
                    var data = data.data.list;
                    var html = "";
                    if(data.length > 0){
                        html = b2b2cf.order_manage_make_list_html(data, last_order_index);
                    }else{
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                    }

                    $('.b2b2c_mage_order_con').append(html);
                    me.resetload();
                
                }

            }, 'get');
        },
        threshold : 50
    });
});


</script>
</body>
</html>