<include file="Public/header"/>

<div class="b2b2c_layout">
    <!--头部start-->
    <header class="b2b2c_public_header_two">订单提交
        <a href="{:U('user/get_cart_list')}" class="b2b2c_public_back"></a>
    </header>
    <!--头部end-->
    <!--内容区域start-->
    <main class="b2b2c_order_submit_lay">
        <section class="b2b2c_order_title bgcf b2b2c_p16" id="b2b2c_address_selected" data-id="{$selected_address.id}" onclick="b2b2cf.order_confirm_change_address()">
            <notempty name="selected_address">
                <div class="b2b2c_t address_div">
                    <span class="b2b2c_f address_name">{$selected_address.name}</span>
                    <span class="address_tel">{$selected_address.tel}</span>
                    <if condition="$selected_address.is_default eq 1">
                        <span class="tc b2b2c_default address_default">默认</span>
                    </if>
                </div>
                <p class="address_area b2b2c_ov2">{$selected_address.area|areaToName} {$selected_address.address}</p>
                <span class="b2b2c_more"></span>
            </notempty>
        </section>
        <?php
        $is_shipping = true;//是否在配送地区默认true
        $sum = 0;//总费用（包含运费）
        
        ?>        
        <!--循环的店铺start-->
        <foreach name="list" item="vo">
            <section class="b2b2c_order_content bgcf">
                <div class="b2b2c_t clearfix b2b2c_p16">
                    <div class="b2b2c_l fl">{$vo.info.shop_name}</div>
                    <?php if(!$vo['info']['invoice_info']):?>
                    <?php $shop_no_invoice_exist = 1;?>
                    <div class="b2b2c_r fr">不可开发票</div>
                    <input type="hidden" value='0' name="b2b2c_suport_invoice" />
                    <?php else:?>
                    <div class="b2b2c_r fr">可开发票</div>
                    <input type="hidden" value='1' name="b2b2c_suport_invoice" />
                    <?php endif;?>
                </div>
                <?php 
                    $goods_sum = 0;
                    $design_count = 0;//款式数量
                    $unit_count = 0;//件数
                    $design_count += count($val['list']);
                    $sum_cost = 0;
                ?>                
                <!--循环的商品start-->
                <foreach name="vo.list" item="pvo">
                    <?php $sum_cost += $pvo['logis_info']['sum_cost']; ?>
                    <?php foreach($pvo['list'] as $product_val):?>
                    <?php $unit_count += $product_val['count']; ?>
                    <div class="b2b2c_c b2b2c_p16 bgc_c">
                        <div class="b2b2c_public_procuct_info">
                            <div class="clearfix">
                                <img class="fl" src="{$product_val.product_image.0}" alt="">
                                <div class="fl b2b2c_con_box">
                                    <p class="b2b2c_ov2">{$product_val.goods_name}</p>
                                    <div class="b2b2c_l">
                                        <span>商品规格:</span>
                                        <span>{$product_val.product_name}</span>
                                    </div>
                                    <div class="b2b2c_r clearfix">
                                        <span class="fl">&yen;{$product_val.product_price}&times;{$product_val.count}</span>
                                        <span class="fr b2b2c_fs_r">&yen;<?php
                                            $goods_sum += $product_val['product_price'] * $product_val['count'];
                                            echo number_format($product_val['product_price'] * $product_val['count'],1,'.','');
                                            ?></span>
                                    </div>
                                </div>
                            </div>
                            <span class="b2b2c_delivery">
                                <?php if($pvo['logis_info']['free_post'] == 0):?>
                                <?php $is_shipping = false;?>
                                    不在配送区
                                <?php elseif($pvo['logis_info']['free_post'] == 1):?>
                                    可配送
                                <?php endif;?>
                            </span>
                        </div>
                    </div>
                    <?php endforeach;?>
                </foreach>
                <!--循环的商品end-->
                <div class="b2b2c_b clearfix b2b2c_p16">
                    <?php if(empty($pvo['logis_info']) || $pvo['logis_info']['free_post'] == 0):?>
                        <div class="b2b2c_l fl"><span>不在配送区</span></div>
                    <?php else:?>
                        <div class="b2b2c_l fl">
                            <span>运费:</span>
                            <span><i>&yen;</i><i>{$vo.info.sum_cost|number_format=1,'.',''}</i></span>
                        </div>
                        <div class="b2b2c_r fr">
                            <span>实付(含运费):</span>
                            <span><i>&yen;</i><i><?php 
                                echo number_format($goods_sum + $vo['info']['sum_cost'],1,'.','');?></i></span>
                                <?php $sum +=  ($goods_sum + $vo['info']['sum_cost']);?>
                        </div>
                    <?php endif;?>

                </div>
            </section>
        </foreach>
        <!--循环的店铺end-->
        <input type="hidden" name="b2b2c_invoice_input" value="0">
        <section class="bgcf b2b2c_p16 b2b2c_invoice clearfix" style="padding-bottom:5rem;">
            <label for="" class="fl">不要发票</label>
            <input type="image" src="__PUBLICS__/images/icons/030.png" class="fr" value="0" onclick="b2b2cf.order_confirm_switch_invoice(this)">
            <!--点击以后input的image 换成 src="../images/icons/059.png"-->
        </section>
        <section class="bgcf b2b2c_invoice tc" style="display:none;padding-bottom:5rem;">
            <div class="b2b2c_p16 b2b2c_border_b clearfix">
                <label for="" class="fl">需要发票</label>
                <input type="image" src="__PUBLICS__/images/icons/059.png" class="fr" value="1" onclick="b2b2cf.order_confirm_switch_invoice(this)">
            </div>
            <input type="hidden" name="b2b2c_invoice_status" value="0">
            <div class="b2b2c_invoice_type_c">
                <input type="button" readonly data-val="1" value="个人" onclick="b2b2cf.order_confirm_invoice_type(this)">
                <input type="button" readonly data-val="2" value="公司" onclick="b2b2cf.order_confirm_invoice_type(this)">
            </div>
            <input class="b2b2c_invoice_name" type="text" name="invoicemarks" placeholder="填写发票抬头">
            <?php if($shop_no_invoice_exist):?>
                <span class="b2b2c_invoice_hint b2b2c_p16">存在不可开发票的店铺!</span>
            <?php endif;?>
        </section>
    </main>
    <!--内容区域end-->

    <footer class="b2b2c_order_submit_f">
        <input type="hidden" id="b2b2c_cart_id" value="{$b2b2c_cart_id}" />
        <ul>
            <li>
                <span>实付款:</span>
                <span>&yen;<span><?php echo number_format($sum,1,'.','') ?></span>
            </li>
            <li class="tc">
                <a href="javascript:void(0);" class="bgcr b2b2c_fs_16" <?php if($has_address == 1):?><?php if($is_shipping):?> onclick="b2b2cf.submit_order({cart_id:'{$b2b2c_cart_id}'},{$user_area_id});" <?php else:?>onclick="b2b2cc.popupdialog('该地址不在配送区，请重新选择收货地址')"<?php endif;?><?php else:?>onclick="b2b2cf.no_default_address()"<?php endif;?>>提交订单</a>
            </li>
        </ul>
    </footer>

    <!--主内容区域start-->
    <main id="b2b2c_order_confirm_address_list" style="display:none;">
        <!--默认地址start-->
        <foreach name="add_list" item="vo">
            <section class="b2b2c_edit_address_box" data-id='{$vo.id}' data-area="{$vo.area}" data-default="{$vo.is_default}" onclick="b2b2cf.order_confirm_cart_address_selected(this)">
                <div class="b2b2c_address_show bgcf">
                    <div class="b2b2c_show_top clearfix">
                        <span class="fl address_name">{$vo.name}</span>
                        <span  class="fr address_tel">{$vo.tel}</span>
                    </div>
                    <p class="b2b2c_show_btm address_area">{$vo.area|areaToName} {$vo.address}</p>
                </div>
                <div class="b2b2c_edit_address bgcf clearfix">
                    <if condition="$vo.is_default eq 1">
                        <a href="javascript:void(0);" class="active fl">默认地址</a>
                    <else />
                    </if>
                </div>
            </section>            
        </foreach>

        <!--默认地址end-->
    </main>
    <!--主内容区域end-->
    <footer class="b2b2c_add_address" style="display:none;">
        <a href="javascript:void(0);" onclick="b2b2cf.order_confirm_add_address()">添加新地址</a>
    </footer>

    <!--表单区域start-->
    <section class="b2b2c_add_new_address" style="display:none;">
        <div class="b2b2c_newadd_inner bgcf">
            <label for="">收货人</label>
            <input type="text" autofocus name="name" value="">
        </div>
        <div class="b2b2c_newadd_inner bgcf">
            <label for="">联系电话</label>
            <input type="text" name="tel" value="">
        </div>
        <div class="b2b2c_newadd_inner bgcf">
            <label for="">所在地区</label>
            <input type="text" name="area" id="area" value="">
            <input type="hidden" name="area_id">
        </div>
        <div class="b2b2c_newadd_inner bgcf">
            <label for="">街道</label>
        </div>
        <div class="b2b2c_newadd_inner bgcf">
           <textarea name="address" placeholder="填写详细地址，不少于5个字"></textarea>
        </div>
        <div class="b2b2c_newadd_inner bgcf">
            <label for="">邮编</label>
            <input type="number" name="zip" value="">
        </div>
        <div class="b2b2c_newadd_inner bgcf clearfix">
            <label for="" class="fl">设为默认</label>
            <input type="image" name="is_default" src="__PUBLICS__/images/icons/030.png" class="fr" value="0" onclick="b2b2cf.add_address_is_default();">
            <!--点击以后input的image 换成 src="../images/icons/031.png"-->
        </div>
    </section>
    <!--表单区域end-->

    <footer class="b2b2c_add_new_address_submit" style="display:none;">
        <a href="javascript:void(0);" onclick="b2b2cf.order_confirm_add_address_submit('User/order_confirm/b2b2c_cart_id/{$b2b2c_cart_id}')">提交</a>
    </footer>

</div>
<load href="__PUBLICS__/plug/area/areas.js"/>
<script type="text/javascript">
    $("#area").click(function (e) {
        b2b2cf.SelCity_add(this,e, function(area_id){
            $('input[name="area_id"]').val(area_id);
        });
    });
</script>
</body>
</html>